$dark-primary-color: #455A64;
$dark-primary-color--30: rgb(69 90 101 / 30%);
$light-primary-color: #CFD8DC;
$primary-color: #607D8B;
$color-white: #fff;
$accent-color: #009688;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
