@import './_colors.scss';
body {
  margin: 0;
}

a {
  color: $primary-text;
  &:visited, &:active {
    color: $primary-text;
  }
  &.navigation-link {
    text-decoration: none;
  }
}

button {
  background: transparent;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}


