/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,24,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.80rem);
  --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1.00rem);
  --step-0: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
  --step-1: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.73rem + 1.70vw), 3.05rem);
  --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
  --step-6: clamp(2.99rem, calc(2.37rem + 3.10vw), 4.77rem);
}

// TODO: are those needed?
// $size--step-minus-2: var(--step--2);
// $size--step-minus-1: var(--step--1);
// $size--step-0: var(--step-0);
// $size--step-1: var(--step-1);
// $size--step-2: var(--step-2);
// $size--step-3: var(--step-3);
// $size--step-4: var(--step-4);
// $size--step-5: var(--step-5);
// $size--step-6: var(--step-6);

.headline--order-1 {
  font-size: var(--step-6);
  margin: var(--space-3xl) 0;
}

.headline--order-2 {
  font-size: var(--step-5);
  margin: var(--space-2xl) 0;
}

.headline--order-3 {
  font-size: var(--step-4);
  margin: var(--space-xl) 0;
}

.headline--order-4 {
  font-size: var(--step-3);
  margin: var(--space-l) 0;
}

.headline--order-5 {
  font-size: var(--step-2);
  margin: var(--space-m) 0;
}

.headline--order-6 {
  font-size: var(--step-1);
  margin: var(--space-s) 0;
}

.text--center {
  text-align: center;
}
