@import './_resets.scss';
@import './_fonts.scss';
@import './_typography.scss';
@import './_colors.scss';
@import './spacings';

html {
  font-family: SourceSansPro, sans-serif;
  font-weight: 400;
  font-size: var(--step-0);
  color: $primary-text;
}

a:hover, a:focus, a.nuxt-link-active {
  text-decoration: underline;
  color: $accent-color;
}
